
body {
    background: #000;
    color: #fff;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;;
}
table {
	width: 100%;
}
td {
    vertical-align: top;
	width: 100%;
	font-weight: 600;
	padding: 6px;
}
th {
	font-size: smaller;
}
p {
    font-size: small;
	font-weight: 300;
}
p.bold-text {
    font-weight: 600;
}

h5.brown-text {
    color: #B69259;
    font-weight: 800;
	font-size: 18px;
}

p.italicised {
    font-style: italic;
    font-size: smaller;
}
.center-image {
    display: flex;
    justify-content: center;
}
.mobile-only {
	display: none;
}

.position-center {
	display: flex;
	flex-direction: column;
	width: max-content;
	position: relative;
	margin: auto;
	left: 0;
	right: 0;
	text-align: center;
}

.feedback-section {
	height: 20vh;
}

.artcaffe-market-slideshow {
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: relative;
  }
  
  .artcaffe-market-slideshow img,
  .artcaffe-market-slideshow video {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	object-fit: cover;
	transition: transform 1s, opacity 1s;
  }
  
  .artcaffe-market-slideshow img.active,
  .artcaffe-market-slideshow video.active {
	opacity: 1;
	transform: translateX(0);
  }

@media only screen and (min-width: 768px) and (max-width: 1200px) {

}

@media only screen and (max-width: 767px) {
    .artcaffe-market-slideshow {
		height: 120px;
	}
	td {
		padding: 5px;
	}

	.mobile-only {
		display: block;
	}
} 
 